fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.10.4
python-dotenv==1.0.1
aiohttp==3.11.13
langchain-community==0.3.20
neo4j==5.28.1
networkx==3.4.2
openai==1.65.5
qdrant-client==1.13.3
streamlit==1.43.2
posthog==3.19.0
rank-bm25==0.2.2
user-agents==2.2.0
pyvis==0.3.2
pymilvus==2.3.7
loguru==0.7.3
gunicorn==23.0.0
shortuuid==1.0.13
faiss-cpu==1.12.0
volcengine-python-sdk[ark]
